---
import { loadWorkshops, loadExtensionPackages } from "../utils/loadWorkshops";
import MainLayout from "../layouts/MainLayout.astro";
import EducatesResourceSelectorIsland from "../components/EducatesResourceSelectorIsland.jsx";
---

<MainLayout
  title="EducatesHub - Educates Resources Catalog"
  description="Browse and discover Educates workshops, extension packages, and more."
>
  <div class="container-fluid py-4" style="max-width: 2000px;">
    <EducatesResourceSelectorIsland client:load />
  </div>
</MainLayout>