---
import { loadWorkshops } from "../utils/loadWorkshops";
import MainLayout from "../layouts/MainLayout.astro";
import WorkshopGrid from "../components/WorkshopGrid.jsx";
const workshops = await loadWorkshops();
---

<MainLayout
  title="EducatesHub - Workshop Catalog"
  description="Browse and discover Educates workshops."
>
  <div class="container-fluid py-4" style="max-width: 2000px;">
    <WorkshopGrid client:load workshops={workshops} />
  </div>
</MainLayout>
